.trade-history-filters {
  display: flex;
  flex-direction: column;
}

.trade-history-filters > div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1em;
  background: #EEE;
  padding: .5em;
}

.trade-history-filters h3 {
  font-weight: bold;
}

.trade-history-filters li {
  list-style-type: none;
  margin-right: .5em;
}

.trade-history-filters li label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trade-history-filters li input {
  width: auto;
}
