@media(min-width: 768px) {
 .exchange-inputs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 
}

.exchange-input-box-container {
  padding: 1em;
  text-align: left;
}

.exchange-input-box-container h3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.exchange-input-box-container i {
  font-weight: bold;
  font-size: 1.6em;
  margin-top: -.1em;
}

.exchange-input-box-container.active h3 i {
  color: #BADA55;
}

.exchange-input-box-container-inner {
  position: relative;
}

@media(min-width: 768px) {
  .exchange-input-box-container {
    width: 50%;
    max-width: 50%;
  }
}

@media(min-width: 990px) {
  .exchange-input-box-container {
    width: 33.333%;
    max-width: 33.333%;
  }
}

@media(min-width: 1300px) {
  .exchange-input-box-container {
    width: 25%;
    max-width: 25%;
  }
}

.exchange-input-box-container .promise-loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.85);
  color: #FFF;
  text-align: center;
  padding-top: 2em;
}

.exchange-input-box-container.promise-loading-cover .loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0;
}
