body {
  text-align: center;
  font-family: monospace, sans-serif, Helvetica;
  padding: 0 1em 1em;
}

h1,h2,h3,h4 {
  background: #000;
  color: #FFF;
  padding: .3em;
  font-weight: normal;
}

h1 {
  display: inline-flex;
  margin: 0 0 2em;
}

h4 {
  clear: both;
  float: left;
}

table {
  width: 100%;
  border-spacing: 0;
}

th,
td {
  padding: .25em;
  border: solid 1px #CCC;
}


::selection {
  color: #FFF;
  background: #000;
}

::-moz-selection {
  color: #FFF;
  background: #000;
}

.exchange-tag {
  display: inline-flex;
  padding: .25em .5em;
  font-size: .8em;
}

.binance {
  background: #BADA55;
  color: #000;
}

.bitfinex {
  background: darkgreen;
  color: #FFF;
}

.gdax {
  background: #444;
  color: #FFF;
}
