* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  text-align: center;
  font-family: monospace, sans-serif, Helvetica;
  padding: 0 1em 1em;
}

h1,h2,h3,h4 {
  font-weight: normal;
}

.heading-with-bg {
  background: #000;
  color: #FFF;
  padding: .3em;
}

h1 {
  display: inline-flex;
  margin: 0 0 2em;
}

h1 a {
  color: #FFF;
  text-decoration: none;
}

p a {
  color: #000;
}

h4 {
  float: left;
  clear: both;
}

table {
  width: 100%;
  border-spacing: 0;
  border: solid 1px #CCC;
}

th,
td {
  padding: .25em;
  font-size: .75em;
  border: solid 1px #CCC;
}

th {
  font-weight: bold;
}

tr:nth-child(even) td {
  background: #F1F1F1;
}

::selection {
  color: #FFF;
  background: #000;
}

::-moz-selection {
  color: #FFF;
  background: #000;
}

.exchange-tag {
  display: inline-flex;
  padding: .25em .5em;
  font-size: .8em;
}

.main-container {
  padding-top: 5em;
}

.binance {
  background: #BADA55;
  color: #000;
}

.bitfinex {
  background: darkgreen;
  color: #FFF;
}

.gdax {
  background: #444;
  color: #FFF;
}

.cryptopia {
  background: #556371;
  color: #FFF;
}

.exchange-tag.buy-or-deposit {
  background: #BADA55;
  color: #000;
}

.exchange-tag.sell-or-withdraw {
  background: darkred;
  color: #FFF;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.legend-container {
  padding-top: 2em;
  padding-left: 4em;
  text-align: left;
}

.row {
  clear: both;
}

.row.large {
  margin-bottom: 10em;
}

input {
  width: 100%;
  padding: .5em;
  font-size: 1em;
  border: solid 2px #ACACAC;
  font-family: monospace, sans-serif, Helvetica;
  transition: all .3s ease;
}

input:focus {
  border: solid 2px #000;
  outline: 0 none;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1em;
  max-width: 200px;
}

button,
.button {
  background: #BADA55;
  border:solid 2px #BADA55;
  color: #000;
  padding: 1em;
  appearance: none;
  cursor: pointer;
  margin-bottom: 1em;
  font-size: 1em;
  transition: all .3s ease;
  font-family: monospace, sans-serif, Helvetica;
}

button.button-link {
  background: none;
  padding: 0;
  border: 0 none;
}

button.block,
.button.block {
  display: block;
  width: 100%;
}

button:focus,
.button:focus {
  border-color:#000;
  outline: 0 none;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

.align-center {
  text-align: center;
}

header h1 {
  margin: 0;
}

header .nav {
  position: absolute;
  top: 0;
  right: 0;
}

header .nav li {
  list-style-type: none;
  display: inline-block;
}

header .nav li a,
header .nav li button,
header .nav li .button {
  display: block;
  color: #000;
  text-decoration: none;
  padding: .5em .8em;
}

.landing .hero-intro {
  padding: 0 0 8em 0;
}

.landing .hero-intro h2 {
  background: none;
  color: #000;
  float: none;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 3em;
  margin-top: 0.5em;
}

.landing .exhanges-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto 5em auto;
}

.landing .exhanges-list div {
  max-width: 300px;
  padding: 0 2em;
}

.landing .exhanges-list img {
  width: 100%;
  max-width: 100%;
}

.login-form input {
  text-align: center;
}

.login-container h2 {
  background: none;
  color: #000;
}

.form-error {
  color: #FFF;
  font-weight: 300;
  background: darkred;
  padding: .5em;
  width: 100%;
  font-size: .9em;
}
